#custom-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 28px 17px;
    border-radius: 2px;
    background-color: #585CC6;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    width: 217px;
    height: 52px;
    cursor: pointer;
    box-sizing: border-box;
}

#custom-button:hover {
    background-color: #797DDF;
}

#custom-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
    font-family: "Gilroy-Bold";
}

@media (max-width: 768px) {
    #custom-button {
        width: 149px;
        height: 42px;
        margin-top: 12px;
        font-size: 14px;
        padding: 12px;
    }
}

