.FormContainer {
    min-height: calc(100vh - 64px);
}

.Form {
    position: relative;
    border-radius: 2px;
    background-color: white;
    padding: 40px 40px 20px 40px;
    width: 628px;
    height: 100%;
    margin: 40px auto 0px;
}

.forgotPassword {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #585CC6;
    margin: 16px auto 0px auto;
}

.forgotPassword:hover {
    color: #797DDF;
}

.forgotPasswordBlock {
    display: flex;
    justify-content: center;
}



@media (max-width: 768px) {
    .Form {
        width: 256px;
        padding: 16px;
        margin: 40px auto 200px;
    }

    .FormContainer {
        min-height: calc(100vh - 84px);
    }
}