.errorBlock {
    position: absolute;
    bottom: 84px;
    left: 0;
    width: 100%;
    background: #EB5757;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

@media (max-width: 768px) {
    .errorBlock {
        bottom: 86px;
    }
}