.formInput {
    margin-top: 32px;
}

.inputHeader {
    font-family: "Factor A";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: -0.0124em;
}

.input {
    width: 100%;
    padding: 15px 63px 15px 12px;
    margin-top: 4px;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}


.input:focus {
    border: 2px solid #585CC6;
}

.show:hover svg path {
    stroke: #797DDF;
}

.close {
    display: none;
}

.hide:hover svg path {
    stroke: #797DDF;
}

.info:hover svg path {
    stroke: #797DDF;
}

.info {
    margin-left: 18px;
}



.info {
display: none;
}

.notification {
    display: flex;
    align-items: center;
    position:absolute;
    justify-content: end;
    margin-top: -37px;
    right: 56px;
}


@media (max-width: 768px) {
    .formInput {
        margin-top: 24px;
    }
    .notification{
        right: 28px;
    }
    .info {
        margin-left: 9px;
    }
}
