.countSymbols {
    position: absolute;
    right: 28px;
    bottom: 120px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    color: #8A8A8A;
}

.symbolsError {
    position: absolute;
    right: 28px;
    bottom: 120px;
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: red;
}

@media (max-width: 768px) {
    .symbolsError {
        bottom: 105px;
        right: 20px;
    }
}