.section {
    background-color: #585CC6;
    background-image: url(spiral.svg);
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 100%;
    padding-bottom: 106px;
}

.mainPage {
    position: relative;
    min-height:calc(100vh);
}

@media (max-width: 576px) {
    .section {
        background-position: -10% 0%;
    }
}