.Header {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
}

.ilinkLogo {
    width: 85px;
    height: 32px;
}

.academyLogo {
    width: 85px;
    height: 12px;
    margin-top: 7px;
}

@media (max-width: 768px) {
    .Header {
        padding-top: 20px;
    }
    .ilinkLogo {
        width: 59px;
        height: 22px;
    }
    .academyLogo {
        width: 59px;
        height: 8px;
        margin-top: 5px;
    }
}