.dropdownName {
    font-size: 14px;
    line-height: 20px;
}

.dropdown{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 12px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

select[disabled] {

    background-color: white;
    color: #8A8A8A;
    cursor: not-allowed;
}