.headerText {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    font-family: Factor A;
}

@media (max-width: 768px) {
    .headerText{
        font-size: 24px;
    }
}