.page {
    position: relative;
    min-height: 100%;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 273px 1fr;
    height: 100%;
    padding-bottom: 130px;
    min-height: calc(100vh - 220px);
}

@media (max-width: 768px) {
    .grid {
        display: block;
        padding-bottom: 160px;
    }
}